@media screen and (max-width: 1200px) {
    #team-section {
        grid-template-columns: auto auto;
        padding: 10%;
        gap: 100px;
    }
}

@media screen and (max-width: 1000px) {
    header {
        padding-inline: 8%;
    }

    #home-section {
        padding: 15% 8% 10%;
    }

    #home-section h1 {
        font-size: 50px;
    }
    #home-section p {
        font-size: 20px;
        margin-bottom: 80px;
    }

    #feature-section {
        grid-template-columns: auto auto;
    }

    #works-section {
        grid-template-columns: auto auto;
    }
}

@media screen and (max-width: 850px) {
    header {
        padding-inline: 4%;
    }

    #home-section h1 {
        font-size: 45px;
    }
}

@media screen and (max-width: 800px) {
    #home-section h1 {
        font-size: 40px;
    }

    #nav {
        display: none;
    }

    #nav-open-button,
    #nav-mobile > #nav-close-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        color: var(--text-color);
        background: transparent;
        border: none;
        outline: none;
        font-size: 25px;
        cursor: pointer;
    }

    #nav-mobile {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - 60px);
        height: calc(100% - 60px);
        margin: 30px;
        background-color: rgba(from var(--primary-color) r g b / 0.8);
        backdrop-filter: blur(5px);
        border-radius: 15px;
        box-shadow: 0 0 20px 100px rgba(from var(--sec-text-color) r g b / 0.5);
    }

    #nav-mobile a {
        color: var(--text-color);
        font-size: 20px;
    }

    #nav-mobile #nav-close-button {
        position: absolute;
        top: 3%;
        right: 5%;
    }

    #home-section h1 {
        font-size: 40px;
    }

    #home-section p {
        font-size: 17px;
    }

    #team-section .team-member-details:hover {
        scale: 1;
    }
}

@media screen and (max-width: 650px) {
    #home-section h1 {
        font-size: 25px;
    }

    #home-section p {
        font-size: 14px;
        margin-bottom: 40px;
    }

    #find-button,
    #download-section button {
        font-size: 12px;
    }

    #feature-section {
        grid-template-columns: auto;
        padding: 5% 10%;
    }

    #works-section {
        grid-template-columns: auto;
    }

    #team-section {
        grid-template-columns: auto;
    }

    #clients-section .clients-details {
        flex-direction: column;
    }

    #clients-section .clients-details img {
        width: 100vw;
    }

    #clients-section .clients-details .clients-message {
        width: 100vw;
        gap: 40px;
        padding: 10% 5%;
    }

    #clients-section .clients-details .clients-message h3 {
        font-size: 5vw;
    }

    #clients-section .clients-details .clients-message p {
        font-size: 2vw;
    }

    #download-section h2 {
        font-size: 20px;
    }

    #download-section span {
        font-size: 10px;
    }

    #footer-section {
        flex-direction: column;
        gap: 60px;
    }
}

@media screen and (max-width: 350px) {
    header img {
        width: 150px;
    }
}
